<section>
    <div class="container-1">
        <article>
            <!--  logo  -->
            <img src="assets/images/LOGO.svg" alt="" width="300px" height="180px">

        </article>

        <article>
            <!--  texto  -->
            <div class="item1">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Magna fringilla urna porttitor rhoncus dolor purus non. </p>

            </div>
            <!--  login  -->
            <div class="item2">
                <div>
                    <nav>
                        <a routerLink="/login"> Minha Conta | </a>
                        <a routerLink="/login"> Meus Pedido</a>
                    </nav>
                </div>

                <button>Carrinho</button>

            </div>
            <!-- pesquisa  -->
            <div class="item3">
                <input type="text" id="pesquisa" name="pesquisa" value="Pesquisa">

            </div>

        </article>

    </div>

</section>
