<footer>
    <div class="geral">
        <section>
             <!-- sobre a loja -->
             <div> 
                <h1>Sobre a Loja</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Magna fringilla urna porttitor rhoncus dolor purus non. </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Magna fringilla urna porttitor rhoncus dolor purus non.</p>
            </div>

            <!-- atendimento -->
            <div>
                <h1>Atendimento</h1>
                <nav>
                    <ul>
                    <li><a class="navAtendimento" href="#">Fale Conosco</a> </li>
                    <li><a class="navAtendimento" href="#">Central de atendimento</a> </li>
                    <li><a class="navAtendimento" href="#">Garantia dos Produtos</a> </li>
                    <li><a class="navAtendimento" href="#">Troca ou devolução </a> </li>
                    <li><a class="navAtendimento" href="#">Cancelamento do Pedido</a> </li>
                    <li><a class="navAtendimento" href="#">Produto não disponivel para entrega</a> </li>
                    <li><a class="navAtendimento" href="#">Acompanhe o status do seu produto </a> </li>
                    <li><a class="navAtendimento" href="#">Política de privacidade</a> </li>
                    <li><a class="navAtendimento" href="#">Compre e retire na loja</a> </li>
                    </ul>
                </nav>
            </div>

            <!-- formas de pagamento -->
            <div >
                <h1>Formas de Pagamento</h1>
                <img src="assets/images/207-2076847_paypal-acceptance-mark-major-credit-card-logos-png.png" alt="Ops!">
            </div>

        </section>
    </div>
    
    <div class="direitos">
        <section>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Magna fringilla urna porttitor rhoncus dolor purus non.
        </section>
    </div>
</footer>
