<div>
    <section>
        <article>
            <img src="assets/images/balao-de-fala.png" alt="Ops! sem imagem" >
            <nav>
                <a href="#"> Fale Conosco </a>
            </nav>
    
        </article>
        <article>
            <img src="assets/images/ligar.png" alt="Ops! sem imagem" >
            <nav>
                <a href="#"> Telefone </a>
            </nav>
    
        </article>
        <article>
            <img src="assets/images/whatsapp.png" alt="Ops! sem imagem">
            <nav>
                <a href="#"> Whatsapp </a>
            </nav>
    
        </article>
        <article>
            <img src="assets/images/youtube.png" alt="Ops! sem imagem"> 
            <img src="assets/images/instagram.png" alt="Ops! sem imagem">
            <img src="assets/images/facebook.png" alt="Ops! sem imagem">
            <nav>
                    <a href="#"> Siga-nos </a>
            </nav> 
        </article>
    </section>
</div>

