<main>
    <section>
        <h1>destaques</h1>
        
        <div>
            <h2>games</h2>
        </div>
        <article> <!-- Inicio linha -->
            <app-cards></app-cards>
            <app-cards></app-cards>
            <app-cards></app-cards>
            <app-cards></app-cards>
        </article>
    
        <div>
            <h2>informática</h2>
        </div>
        <article ><!-- Inicio linha -->
            <app-cards></app-cards>
            <app-cards></app-cards>
            <app-cards></app-cards>
            <app-cards></app-cards>
        </article>
    
        <div>
            <h2>celulares</h2>
        </div>
        <article><!-- Inicio linha -->
            <app-cards></app-cards>
            <app-cards></app-cards>
            <app-cards></app-cards>
            <app-cards></app-cards>
        </article>
    
        <div>
            <h2>acessórios</h2>
        </div>
        <article><!-- Inicio linha -->
            <app-cards></app-cards>
            <app-cards></app-cards>
            <app-cards></app-cards>
            <app-cards></app-cards>
        </article>
    </section>
</main>

