<section>
    <article>
        <h1>ofertas</h1>

        <div class="ofertaslinha">
            <!-- primeira linha de ofertas -->
    
            <div class="scroller">
                <img src="assets/images/SCROLLER_left.png" alt="" width="50px" height="80px">
            </div>
    
            <app-cards></app-cards>
            <app-cards></app-cards>
            <app-cards></app-cards>
            <app-cards></app-cards>
    
            <div class="scroller">
                <img src="assets/images/SCROLLER_right.png" alt="" width="50px" height="80px">
            </div>
    
        </div>        
    </article>
   
</section>